@import '../lib/theme-public/scss/style.scss';
@import 'mixins-vars';

/*
@include media-breakpoint-up(xs)
@include media-breakpoint-down(xs)
@include media-breakpoint-only(xs)

$primary:       #ff5722; orange
$secondary:     #006064; teal
*/

// Other useful vars
$height-header: 50px;
$padding-sidebar: 20px;
$border-sidebar: 1px;

.hiding {
	display: none;	
}
.showing {
	display: block;
}

.error-msg {
	color: red;
}


html, body {
	background: #00363a;
}
.row {
	width: 100%;
}
img {
	max-width: 100%;
}
.unbox-slider .slides {
	margin: 0;
	padding: 0;
}
.unbox-social .blink a {
	color: white;
}
.material-icons {
    vertical-align: text-top;
}
*.hl-primary {
	color: $primary;
}
.unbox-slider.condensed {
	.slider-height, 
	&.flexslider, 
	&.flexslider2, 
	&.flexslider .slides > li, 
	&.flexslider2 .slides > li {
	    min-height: 185px;
	    height: auto;
	}
	h1, 
	.page-title h1,
	p {
		margin: 0;
	}
}

blockquote {
	position: relative;
	display: block;
	margin: 1rem 0;
	padding: 0.5rem 18px;
	border-top: 1px solid $brand-dropdown;
	border-bottom: 1px solid $brand-dropdown;
	font-size: 1.125em;
	line-height: 1.5em;
	color: $brand-dropdown;

	&::before,
	&::after {
		display: block;
		content: '\201C';
		position: absolute;
		top: 10px;
		left: 0;
		font-size: 2em;
	}
	&::after {
		content: '\201D';
		top: auto;
		left: auto;
		bottom: -15px;
		right: 0;
	}
}