---
siteTitle: 'Unboxable.com || Regan Leah Bourland'
---
<!DOCTYPE html>
<html lang="en">
<head profile="http://www.w3.org/2005/10/profile">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{ pageTitle }} | {{ siteTitle }}</title>
	<meta name="description" content="">
	<meta name="keywords" content="">
	
	<link rel="icon" type="image/ico" href="/assets/image/favicon.ico">
   	<link href="https://fonts.googleapis.com/css?family=Material+Icons|Fira+Sans" rel="stylesheet"/>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/brands.css" integrity="sha384-7xAnn7Zm3QC1jFjVc1A6v/toepoG3JXboQYzbM0jrPzou9OFXm/fY6Z/XiIebl/k" crossorigin="anonymous">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/fontawesome.css" integrity="sha384-ozJwkrqb90Oa3ZNb+yKFW2lToAWYdTiF1vt8JiH5ptTGHTGcN7qdoR1F95e0kYyG" crossorigin="anonymous">
	<link href="/assets/style/unboxanodeblog.css" rel="stylesheet" type="text/css" inline/>
	 
	<script type="text/javascript" src="/assets/script/unboxanodeblog.header.js"></script>
</head>
<body id="{{ pageTitle | slugify }}">
	<div class="unbox-loader"></div>
	<header role="banner" class="unbox-header">
		<div class="container">
			<a href="/" class="unbox-logo">UNBOXABLE</a>
		
			<a href="#" class="unbox-burger-menu d-block d-sm-none" ><i>Menu</i></a>
			<div class="mobile-menu-overlay"></div>
		
			<nav role="navigation" class="unbox-nav d-none d-sm-block">
				<ul class="unbox-main-nav">
					<li class="home"><a href="{% link_to '/' %}">Home</a></li>
					<li class="projects"><a href="{% link_to 'projects' %}">Projects</a></li>
					<li class="blog"><a href="{% link_to 'blog' %}">Blog</a></li>
				</ul>
				<ul class="unbox-right-nav d-none d-sm-block">
					<li><a href="http://twitter.com/Geeky_Regan" target="_blank" rel="nofollow" title="Twitter"><i class="fab fa-twitter"></i></a></li>
					<li><a href="http://www.linkedin.com/in/reganleah" target="_blank" rel="nofollow" title="LinkedIn"><i class="fab fa-linkedin"></i></a></li>
						<li><a href="#" class="blink-social"><i class="material-icons">more_horiz</i></a></li>
				</ul>
				<div class="extra-text d-block d-sm-none"> 
					<a href="#" class="unbox-burger-menu"><i>Menu</i></a>
					<h5>Connect</h5>
					<ul class="social-buttons">
						<li><a href="http://twitter.com/Geeky_Regan" target="_blank" rel="nofollow" title="Twitter"><i class="fab fa-twitter"></i></a></li>
						<li><a href="http://www.linkedin.com/in/reganleah" target="_blank" rel="nofollow" title="LinkedIn"><i class="fab fa-linkedin"></i></a></li>
						<li><a href="#" class="blink-social d-none d-sm-inline-block"><i class="material-icons">more_horiz</i></a></li>
					</ul>
				</div>
			</nav>
		</div>
	</header>
	{{ content | safe }}
	<footer class="unbox-footer unbox-bg">
		<div class="container">
			<div class="row mb5">
				<div class="col-xs-12 col-md-3">
					<div class="unbox-footer-widget unbox-link-wrap">
						<h4 class="heading">Quick Links</h4>
						<ul class="stack-link">
							<li><a href="{% link_to '/' %}">Home</a></li>
							<li><a href="{% link_to 'projects' %}">Projects</a></li>
							<li><a href="{% link_to 'blog' %}">Blog</a></li>
						</ul>
					</div>
				</div>
				<div class="col-xs-12 col-md-3">
					<div class="unbox-footer-widget">
						<h4 class="heading">More Links</h4>
						<ul class="stack-link">
							<li><a href="{% link_to 'resume' %}">Resumé</a></li>
							<li><a href="{% link_to 'testimonials' %}">Testimonials</a></li>
							<li><a href="{% link_to 'contact' %}">Contact</a></li>
						</ul>
					</div> 
				</div>
				{% if more %}
				<div class="col-xs-12 col-md-6">
					<div class="unbox-footer-widget">
						<h4 class="heading">Haven&rsquo;t learned enough?</h4>
						<p>{{ more | safe }}</p>
					</div> 
				</div>
				{% endif %}
			</div>
			<hr/>
			<div class="row copyright">
				<div class="col-xs-12 col-md-8">
					<div class="unbox-footer-widget">
						<p class="small">&copy; 2021 Regan Leah Bourland. All right reserved. The ideas on this site are my own and do not necessarily represent the opinions or positions of any groups I may be affiliated with. A word on <a href="{% link_to 'privacy' %}" target="_blank">your privacy</a> while you&rsquo;re&nbsp;here.</p>
					</div>
				</div>
				<div class="col-xs-12 col-md-4">
					<div class="unbox-footer-widget right">
						<ul class="unbox-social">
							<li><a href="http://twitter.com/Geeky_Regan" target="_blank" rel="nofollow" title="Twitter"><i class="fab fa-twitter"></i></a></li>
							<li><a href="http://www.linkedin.com/in/reganleah" target="_blank" rel="nofollow" title="LinkedIn"><i class="fab fa-linkedin"></i></a></li>
							<li><a href="https://github.com/14rego" target="_blank" rel="nofollow" title="GitHub"><i class="fab fa-github"></i></a></li>
							<li><a href="https://bitbucket.org/14rego" target="_blank" rel="nofollow" title="BitBucket"><i class="fab fa-bitbucket"></i></a></li>
							<li><a href="/blog/feed" target="_blank" rel="nofollow" title="RSS Feed"><i class="material-icons">rss_feed</i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</footer>

	<div class="gototop js-top">
		<a href="#" class="js-gotop"><i class="material-icons">arrow_upward</i></a>
	</div>
	<div id="cookieWarning" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-body">
					<p>This website or its third-party tools use cookies, which are necessary to its functioning and required to achieve the purposes illustrated in the <a href="{% link_to 'privacy' %}" target="_blank">cookie policy</a>. If you want to know more or withdraw your consent to all or some of the cookies, please refer to the <a href="{% link_to 'privacy' %}" target="_blank">cookie policy</a>.</p>
					<p>By closing this banner, scrolling this page, clicking a link or continuing to browse otherwise, you agree to the use of cookies.</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript" src="/assets/script/unboxanodeblog.vendor.js"></script>
	<script type="text/javascript" src="/assets/script/unboxanodeblog.footer.js"></script>
</body>
</html>