<!-- build:pg -->home<!-- /build:pg -->
<!-- build:title -->Unboxable.com || Regan Leah Bourland<!-- /build:title -->
<!-- build:content -->
<section class="unbox-slider flexslider">
  <ul class="slides">
    <li style="background-image: url(/resources/image/hero_macbook.jpg);">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <div class="slides-text unbox-animate">
              <h1 class="h2">Contact</h1>
              <p>A virtual tap upon the shoulder&hellip;</p>
            </div>
          </div>
        </div>
      </div>
    </li>
  </ul>
</section>
<section class="unbox-section">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<h4>Pin Me Down</h4>
				<ul class="with-icon colored">
					<li><i class="material-icons">local_post_office</i>regan[dot]leah[at]gmail</li>
					<li><i class="material-icons">place</i>Olathe, KS, U.S.A.</li>
				</ul>
			</div>
			<div class="col-md-3">
				<h4>Follow Along</h4>
				<ul class="with-icon colored">
					<li><a href="http://twitter.com/Geeky_Regan" target="_blank" rel="nofollow" title="Twitter"><i class="fab fa-twitter"></i> &nbsp; Twitter</a></li>
					<li><a href="http://www.linkedin.com/in/reganleah" target="_blank" rel="nofollow" title="LinkedIn"><i class="fab fa-linkedin"></i> &nbsp; LinkedIn</a></li>
					<li><a href="https://dribbble.com/rbld" target="_blank" rel="nofollow" title="Dribbble"><i class="fab fa-dribbble"></i> &nbsp; Dribbble</a></li>
				</ul>
			</div>
			<div class="col-md-3">
				<h4 class="hide-xs">&nbsp;</h4>
				<ul class="with-icon colored">
					<li><a href="https://bitbucket.org/14rego" target="_blank" rel="nofollow" title="BitBucket"><i class="fab fa-bitbucket"></i> &nbsp; BitBucket</a></li>
					<li><a href="https://github.com/14rego" target="_blank" rel="nofollow" title="GitHub"><i class="fab fa-github"></i> &nbsp; GitHub</a></li>
					<!--TODOli><a href="/feed" target="_blank" rel="nofollow" title="RSS Feed"><i class="material-icons">rss_feed</i> &nbsp; Blog RSS Feed</a></li-->
				</ul>
			</div>
		</div>
	</div>
</section>  
<div id="map"></div>
<!-- /build:content -->
<!-- build:more -->
I believe I have more to learn than to teach, but I love to teach, guide and help others. I believe you should never say things you don’t mean and you should always treat others as you wish to be treated.<br/>Cliché? Sure. Still important? Absolutely.
<!-- /build:more -->
<!-- build:foot -->
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCcvYMBDZtrrJ167JM9Cm4TSysfDDW3wQg&amp;sensor=false"></script>
<script type="text/javascript" src="/resources/script/min/unboxanodeblog.map.min.js"></script>
<!-- /build:foot -->
