<!-- build:pg -->home<!-- /build:pg -->
<!-- build:title -->Unboxable.com || Regan Leah Bourland<!-- /build:title -->
<!-- build:content -->
<section class="unbox-slider flexslider">
  <ul class="slides">
    <li style="background-image: url(/resources/image/hero_macbook.jpg);">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <div class="slides-text unbox-animate">
              <h1 class="h2">Oh, hello. Welcome.</h1>
              <p>I&rsquo;m Regan and this is Unboxable, the dark room where I sometimes hang my thoughts.</p>
            </div>
          </div>
        </div>
      </div>
    </li>
  </ul>
</section>
<section class="unbox-section">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-md-4">
				<div class="service left-icon unbox-animate fadeInUp unbox-animated">
					<div class="icon">
						<i class="material-icons">keyboard</i>
						<i class="material-icons second">mouse</i>
					</div>
					<div class="text">
						<h3 class="heading">Developing</h3>
						<p>I&rsquo;ve been developing web sites and web things since 1996. Web development is a tiny bit more complicated these days, but I&rsquo;m enjoying trying to keep&nbsp;up.</p>
						<p><a href="/resume#developing">Learn more<i class="material-icons">play_arrow</i></a></p>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-md-4">
				<div class="service left-icon unbox-animate fadeInUp unbox-animated">
					<div class="icon">
						<i class="material-icons">create</i>
						<i class="material-icons second">gesture</i>
					</div>
					<div class="text">
						<h3 class="heading">Creating</h3>
						<p>Since I was young, I&rsquo;ve loved to create. It doesn&rsquo;t matter what I create. Building, drawing, putting together the pieces &mdash; it&rsquo;s sort of what makes me&nbsp;tick.</p>
						<p><a href="/resume#creating">Learn more<i class="material-icons">play_arrow</i></a></p>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-md-4">
				<div class="service left-icon unbox-animate fadeInUp unbox-animated">
					<div class="icon">
						<i class="material-icons">gps_fixed</i>
						<i class="material-icons second">zoom_in</i>
					</div>
					<div class="text">
						<h3 class="heading">Strategizing</h3>
						<p>Yeah, I made that word up. Planning, solving, researching, organizing, analyzing, and strategizing. These are the golden kernels of&nbsp;life.</p>
						<p><a href="/resume#strategizing">Learn more<i class="material-icons">play_arrow</i></a></p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="unbox-section">
<div class="container">
	<div class="unbox-cta unbox-animate border-bottom-none">
		<h3 class="h2 mb20">Let&rsquo;s chat!</h3>
		<p>I can get pretty chatty about the things I&rsquo;m super interested in. If you&rsquo;re in any way interested in any of these things (or other things too), find me on Twitter or a Slack channel somewhere.</p>
		<p><a href="/contact" role="button" class="btn btn-primary">Say &ldquo;Hello!&rdquo;</a></p>
	</div>
</div>
<div class="clearfix visible-sm-block"></div>
</section>
<!-- /build:content -->
<!-- build:more -->
I believe you should never say things you don’t mean and you should always treat others as you wish to be treated.<br/>Cliché? Sure. Still important? Absolutely.
<!-- /build:more -->