<!-- build:pg -->projects<!-- /build:pg -->
<!-- build:title -->My Projects || Regan Leah Bourland<!-- /build:title -->
<!-- build:content -->
<section class="unbox-slider flexslider">
  <ul class="slides">
    <li style="background-image: url(/resources/image/hero_keyboard.jpg);">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <div class="slides-text">
              <h1 class="h2">My Projects</h1>
              <p>What can I say? I have fun designing, planning, and creating cool things.</p>
            </div>
          </div>
        </div>
      </div>
    </li>
  </ul>
</section>
<section class="unbox-section">
	<div class="container">
		<div class="row">
			<div class="col-md-12 section-heading">
				<h2>Selected Projects</h2>
				<ul class="legend">
					<li><span class="circle-icon"><i class="material-icons">keyboard</i></span> Develop</li>
					<li><span class="circle-icon"><i class="material-icons">create</i></span> Create</li>
					<li><span class="circle-icon"><i class="material-icons">zoom_in</i></span> Analyze</li>
				</ul>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 col-sm-6">
				<div class="unbox-card">
					<div class="unbox-card-media">
						<a href="/projects/ux-method-flow">
							<img src="/resources/image/proj_vague-design_01.jpg" class="img-responsive img-border" alt="2">
						</a>
					</div>
					<div class="unbox-card-text">
						<p class="category"><span class="circle-icon"><i class="material-icons">keyboard</i></span><span class="circle-icon"><i class="material-icons">create</i></span><span class="circle-icon"><i class="material-icons">zoom_in</i></span></p>
						<h2 class="unbox-card-heading mb0"><a class="hl-primary" href="/projects/ux-method-flow">UX Methods Flow<i class="material-icons">play_arrow</i></a></h2>
						<p>A question flow that suggests user experience methods for your particular situation</p>
					</div>
				</div>
			</div>
			<div class="col-md-4 col-sm-6">
				<div class="unbox-card">
					<div class="unbox-card-media">
						<a href="/projects/unboxable">
							<img src="/resources/image/proj_vague-code.jpg" class="img-responsive img-border" alt="0">
						</a>
					</div>
					<div class="unbox-card-text">
						<p class="category"><span class="circle-icon"><i class="material-icons">keyboard</i></span> <span class="circle-icon"><i class="material-icons">create</i></span></p>
						<h2 class="unbox-card-heading mb0"><a class="hl-primary" href="/projects/unboxable">Unboxable<i class="material-icons">play_arrow</i></a></h2>
						<p>I built this site with my own two hands (on a keyboard, using a mouse and a handful of fancy technologies).</p>
						<p class="small"><em>It is, of course, still under construction.</em></p>
					</div>
				</div>
			</div>
			<div class="col-md-4 col-sm-6">
				<div class="unbox-card">
					<div class="unbox-card-media">
						<a href="/projects/unboxapi">
							<img src="/resources/image/proj_fire-sparks.jpg" class="img-responsive img-border" alt="1">
						</a>
					</div>
					<div class="unbox-card-text">
						<p class="category"><span class="circle-icon"><i class="material-icons">keyboard</i></span></p>
						<h2 class="unbox-card-heading mb0"><a class="hl-primary" href="/projects/unboxapi">Unboxapi<i class="material-icons">play_arrow</i></a></h2>
						<p>A "quick-and-dirty" PHP API that feeds blog posts into this site.</p>
					</div>
				</div>
			</div>
			<div class="col-md-4 col-sm-6">
				<div class="unbox-card">
					<div class="unbox-card-media">
						<a href="/projects/design-boiler">
							<img src="/resources/image/proj_design-boiler.jpg" class="img-responsive img-border" alt="2">
						</a>
					</div>
					<div class="unbox-card-text">
						<p class="category"><span class="circle-icon"><i class="material-icons">keyboard</i></span></p>
						<h2 class="unbox-card-heading mb0"><a class="hl-primary" href="/projects/design-boiler">Material Exploration<i class="material-icons">play_arrow</i></a></h2>
						<p>Exploring the scalability of Design Kits created with Google's Material schema</p>
					</div>
				</div>
			</div>
	        <div class="clearfix visible-sm-block"></div>
		</div>
	</div>
</section>
<section class="unbox-section">
<div class="container">
	<div class="unbox-cta unbox-animate border-bottom-none">
		<h2 class="mb20">Not what you had in mind?</h2>
		<p>In an effort to show you the variety of my projects, I&rsquo;ve attempted to list a diverse sampling of my projects and skills. If this list doesn&rsquo;t cover your interests, just reach out - I&rsquo;d be happy to go into more detail with you. Thanks for your interest.</p>
		<p><a href="/contact" role="button" class="btn btn-primary">Get In Touch</a></p>
	</div>
</div>
<div class="clearfix visible-sm-block"></div>
</section>
<!-- /build:content -->
<!-- build:more -->
I believe I have more to learn than to teach. But I do love to teach, guide and assist others. Teaching without learning is unfortunate. Learning without teaching is tragic.
<!-- /build:more -->