<!-- build:pg -->resume<!-- /build:pg -->
<!-- build:title -->Regan Bourland || Résumé<!-- /build:title -->
<!-- build:content -->
<section class="unbox-slider flexslider">
    <ul class="slides">
        <li style="background-image: url(/resources/image/hero_keyboard.jpg);">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <div class="slides-text probootstrap-animate">
                            <h1 class="h2">Résumé</h1>
                            <p>You can also just find me on <a href="http://www.linkedin.com/in/reganleah" target="_blank">LinkedIn</a>.</p>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</section>
<section class="unbox-section">
    <section>
        <div class="container">
            <div class="row">
				<div class="col-xs-12 col-md-12">
                	<p class="h3">Professional <span>Design &amp; Development Experience</span></p>
				</div>
			</div>
			<a id="strategizing" name="strategizing"></a>
			<div class="row">
				<div class="col-xs-12 col-md-9">
					<p class="h4 my-2">User Experience Architect; Artisan Technology Group; Kansas City, MO</p>
				</div>
				<div class="col-xs-12 col-md-3">
					<p class="text-right small my-2"><em>Current</em></p>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-md-12 mt-2 mb-4">
					<p>As the face of user experience at Artisan, I work closely with our partners and clients to improve messaging and strategic tactics throughout their brands and systems. Beginning with market research and in-depth business discovery I organize, plan, design, prototype, and develop custom interfaces and marketing materials for a wide variety of technology applications.</p>
					<p><small><strong>Accreditation:</strong> Amazon Web Services Business Professional</small></p>
				</div>
			</div>

			<a id="developing" name="developing"></a>
			<div class="row">
				<div class="col-xs-12 col-md-9">
					<p class="h4 my-2">Principal Developer; Intouch Solutions, Inc.; Overland Park, KS</p>
				</div>
				<div class="col-xs-12 col-md-3">
					<p class="text-right small my-2"><em>2014 — 2018</em></p>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-md-12 mt-2 mb-4">
					<p>I work closely on a daily basis with architects, directors and the VP of Development Services on complex or high-profile projects. I'm an Adobe Experience Manager Certified Expert developer, often acting as liaison with technology vendors and client IT groups. While my primary focus is always implementation and development, I work with architects on documenting standards and mentoring team developers on specific technologies to ensure long-term growth of the business.</p>
					<p class="small"><strong>Certification:</strong> Adobe Experience Manager Expert Developer</p>
					<p class="small"><strong>Previous titles at Intouch Solutions:</strong> Developer, Senior Developer, Development Team Lead, AEM Development Lead</p>
				</div>
			</div>

			<div class="row">
				<div class="col-xs-12 col-md-9">
					<p class="h4 my-2">Web Development; Marketing; Softek Solutions, Inc.; Prairie Village, KS</p>
				</div>
				<div class="col-xs-12 col-md-3">
					<p class="text-right small my-2"><em>2010 — 2014</em></p>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-md-12 mt-2 mb-4">
					<p>Design and development of the websites, social networking and general online presence of SSI with occasional print design when help is needed.</p>
				</div>
			</div>
			
			<div class="row">
				<div class="col-xs-12 col-md-9">
					<p class="h4 my-2">Web Development; Creative Marketing; Liquid Soap Products; Lee’s Summit, MO</p>
				</div>
				<div class="col-xs-12 col-md-3">
					<p class="text-right small my-2"><em>2009 — 2010</em></p>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-md-12 mt-2 mb-4">
					<p>Design and development of the websites of LSP and it’s subsidiaries; Ultra International and Custom Solutions, Inc. with occasional print design when help is needed.</p>
				</div>
			</div>
			
			<a id="creating" name="creating"></a>
			<div class="row">
				<div class="col-xs-12 col-md-9">
					<p class="h4 my-2">Designer, Developer and Owner; Boulder Design &amp; Graphics; Independence, MO</p>
				</div>
				<div class="col-xs-12 col-md-3">
					<p class="text-right small my-2"><em>2004 — 2011</em></p>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-md-12 mt-2 mb-4">
					<p>Design and develop marketing materials as needed by clients from around the world.</p>
				</div>
			</div>
			
			<div class="row">
				<div class="col-xs-12 col-md-9">
					<p class="h4 my-2">Graphic Artist; Creative Services; Fort Dodge Animal Health; Overland Park, KS</p>
				</div>
				<div class="col-xs-12 col-md-3">
					<p class="text-right small my-2"><em>2008 — 2009</em></p>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-md-12 mt-2 mb-4">
					<p>Designed marketing and sales support materials for Fort Dodge Animal Health and our parent company, Wyeth Pharmaceuticals - almost solely print production.</p>
				</div>
			</div>
			
			<div class="row">
				<div class="col-xs-12 col-md-9">
					<p class="h4 my-2">Graphic Designer; Ad Services; Kansas City Star and KansasCity.com; Kansas City, MO</p>
				</div>
				<div class="col-xs-12 col-md-3">
					<p class="text-right small my-2"><em>2005 — 2008</em></p>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-md-12 mt-2 mb-4">
					<p>Began designing display ads for placement in the Kansas City Star. Then designed banner ads, forms, widgets, web sites, e-mail blasts, etc. for KansasCity.com and interoffice McClatchy Interactive use.</p>
				</div>
			</div>
			
			<div class="row">
				<div class="col-xs-12 col-md-9">
					<p class="h4 my-2">Digital Retouch Specialist; H &amp; H Color Lab; Raytown, MO</p>
				</div>
				<div class="col-xs-12 col-md-3">
					<p class="text-right small my-2"><em>2005</em></p>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-md-12 mt-2 mb-4">
					<p>Extensive training and labor in Adobe Photoshop retouching professional photographs</p>
				</div>
			</div>
			
			<div class="row">
				<div class="col-xs-12 col-md-9">
					<p class="h4 my-2">Contracted Designer; Graceland University Athletics; Graceland University; Lamoni, IA</p>
				</div>
				<div class="col-xs-12 col-md-3">
					<p class="text-right small my-2"><em>2005</em></p>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-md-12 mt-2 mb-4">
					<p>Continued designing several print pieces on demand due to staff preference after leaving the Creative Media Center - led to launch of my own business.</p>
				</div>
			</div>
			
			<div class="row">
				<div class="col-xs-12 col-md-9">
					<p class="h4 my-2">Graphic Designer; Creative Media Center; Graceland University; Lamoni, IA</p>
				</div>
				<div class="col-xs-12 col-md-3">
					<p class="text-right small my-2"><em>2004 — 2005</em></p>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-md-12 mt-2 mb-4">
					<p>Part- and full-time internship atmosphere learning about presses and design techniques.</p>
				</div>
			</div>
			
			<div class="row">
				<div class="col-xs-12 col-md-9">
					<p class="h4 my-2">Graphic Designer; Acacia, Graceland University Yearbook; Lamoni, IA</p>
				</div>
				<div class="col-xs-12 col-md-3">
					<p class="text-right small my-2"><em>2003 — 2004</em></p>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-md-12 mt-2 mb-4">
					<p>In charge of layout and photo placement (in Quark) of the yearbook.</p>
				</div>
			</div>
						
                <h3>Education</h3>
                <h4 class="year">2001 — 2005</h4>
                <h4>Graceland University; Lamoni, IA</h4>
                <p>Bachelor of Arts Degree; Major: Visual Communications; Minor: Psychology</p>
                <h4 class="year">2007 — 2009</h4>
                <h4>Johnson County Community College Center for Business and Technology; Overland Park, KS</h4>
                <p>Various Continuing Education Certificates</p>
                <h3>Technical <span>Skills</span></h3>
				<h4>Proficient in both Mac and PC applications:</h4>
				<p>Visual Studio Pro/Code, IntelliJ, Eclipse, Sketch, Adobe XD, Dreamweaver, Photoshop, Illustrator, InDesign, Google SketchUp, Microsoft Office, Camtasia,&nbsp;etc.</p>
				<h4>Professional Experience With:</h4>
				<p>Java, PHP, VBscript, AngularJS, .NET MVC/Razor, HTL/Sightly, Maven, mySQL, PostgreSQL, NPM, Node, Apache, Amazon Web Services, Javascript, jQuery, HTML5, CSS3, XML, Gulp, Git, SVN, and&nbsp;TFS</p>
				<h4>Educational / Hobby Use:</h4>
				<p>React, Angular, JSP, MongoDB, Express, Typescript, Flow, Ruby, Babel, Actionscript</p>
            </div>
        </div>
    </section>
</section>
<!-- /build:content -->
<!-- build:more -->
I “speak” several different languages – but only if surrounded by creative and inspirational style, color and music.
<!-- /build:more -->