<!-- build:pg -->testimonials<!-- /build:pg -->
<!-- build:title -->Unboxable.com || Testimonials<!-- /build:title -->
<!-- build:content -->
<section class="unbox-slider flexslider">
    <ul class="slides">
        <li style="background-image: url(/resources/image/hero_keyboard.jpg);">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <div class="slides-text probootstrap-animate">
                            <h1 class="h2">Some Words of Wisdom</h1>
                            <p>Below are some previous clients and the nice things they had to say about me. More testimonials from <a href="http://www.linkedin.com/in/reganleah" target="_blank">my LinkedIn profile</a> and <a href="http://www.guru.com" target="_blank">Guru.com</a> projects <a href="#more">below</a>.</p>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</section>
<section class="unbox-section">
    <div class="container">
        <div class="row">
            <div class="d-flex align-items-stretch col-sm-12 col-md-7">
                <div class="card my-3 p-3">
                    <p>“We had nothing in terms of logos or media design of any kind. Regan worked with us and in no time, we had developed a great logo, designed t-shirts and set up a guide like nothing we have ever had. She went above and beyond what we expected and her quality of work is unparralelled. I wouldn’t work with anyone else.”</p>
                    <p class="small"> — J. Murphy, Bethany, MO Parks and Recreation</p>
                </div>
            </div>
            <div class="d-flex align-items-stretch col-sm-12 col-md-5">
                <div class="card my-3 p-3">
                    <p>“Regan rocks! She stayed up all night on a Friday to complete my project on time. [She] provides quality work...I highly recommend anyone to use their services...2nd-to-none customer service and workmanship.”</p>
                    <p class="small"> — M. Jones, Bid My Crib</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="d-flex align-items-stretch col-sm-12 col-md-9">
                <div class="card my-3 p-3">
                    <p>“Regan has always been there for us and we have come to depend on her contributions on a regular basis. She is extremely responsive and she always goes above and beyond to meet our deadlines that are notoriously tight and dynamic. Thanks, Regan!”</p>
                    <p class="small"> — A. Paulos, Covisio</p>
                </div>
            </div>
            <div class="d-flex align-items-stretch col-sm-12 col-md-3">
                <div class="card my-3 p-3">
                    <p>“Regan’s work is phenominal…when we have a concept in mind she easily transforms this into a design.”</p>
                    <p class="small"> — M. Schnieder, Digital Dog Pound</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="d-flex align-items-stretch col-sm-12 col-md-6">
                <div class="card my-3 p-3">
                    <p>“Not only are you getting high quality service but the creative, friendly and inspirational service that comes from Regan and Boulder Design &amp; Graphics, is just astonishing! She has the skill and experience to do just about anything (there isn’t anything she can’t do from what I can tell so far!) and she listens to what you want. Saying that you will be more than satisfied with her work is a huge understatement.”</p>
                    <p class="small"> — M. Olson, The EBC</p>
                </div>
            </div>
            <div class="d-flex align-items-stretch col-sm-12 col-md-6">
                <div class="card my-3 p-3">
                    <p>“There are two things that will make Regan successful in this business: creativity and speed. Regan does a great job of coming up with new ideas and she does it in a timely fashion. Regan has worked on a couple projects for me and she has been able to come up with ideas that I liked right away and if there were any adjustments she was back to me immediately with exactly what I wanted.”</p>
                    <p class="small"> — D. Stopa, Graceland University</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="d-flex align-items-stretch col-sm-12 col-md-5">
                <div class="card my-3 p-3">
                    <p>“Regan produced our most elaborate media guide in the history of the school. From the front to back cover, the publication was a first class, professionally made publication. She has awesome graphic ideas with a great knowledge of layout and design. I enjoyed working with such a professional person.”</p>
                    <p class="small"> — A. Woodruff, Graceland University</p>
                </div>
            </div>
            <div class="d-flex align-items-stretch col-sm-12 col-md-7">
                <div class="card my-3 p-3">
                    <p>“I have been working with Regan for over 12 months and I have been consistently impressed by the high standard of her work, timeliness, professionalism and enthusiasm.  Whether it’s graphic design, Photoshop work, web site layout or Flash animation she has never failed to exceed my expectations.  I highly recommend her for any creative project and would be happy to provide a trade reference.”</p>
                    <p class="small"> — Dr. Allen, Reborn: The Invessi Chronicles</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="d-flex align-items-stretch col-sm-12 col-md-6">
                <div class="card my-3 p-3">
                    <p>“I’ve truly enjoyed my interactions with Regan! She has been a great collaborator. I was able to spend a little bit of time explains the general idea of what we needed then she did a great job using her considerable creativity and skill to make it way better then I could have imagined. She is really flexible and responsive as we worked through the natural back and forth of all creative ventures.”</p>
                    <p class="small"> — S. Grossman, Xyleme Inc.</p>
                </div>
            </div>
            <div class="d-flex align-items-stretch col-sm-12 col-md-6">
                <div class="card my-3 p-3">
                    <p>“<a name="more"></a>I had the opportunity to work with Regan and Boulder Design &amp; Graphics on an electronic "e-card" greeting card... The card turned out fantastic!! It was super creative, "out of the box" and super cool!! The details in card really made it come to life. The greeting was met with rave reviews. In fact, some people still talk about it! I would highly recommend Regan. I personally look forward to the opportunity to work with Regan on more projects in the future!”</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="d-flex align-items-stretch col-sm-12 col-md-8">
                <div class="card my-3 p-3">
                    <p>“She created the most amazing fliers to help me promote my new business. Her skills are unbeatable. Some of the technical details are scary to me and she never let me get bogged down with that part of the process. She is a true professional and a great person to work with.”</p>
                </div>
            </div>
            <div class="d-flex align-items-stretch col-sm-12 col-md-4">
                <div class="card my-3 p-3">
                    <p>“Regan provided exactly what I needed, within my budget, and the turn-around time on the projects was very fast.”</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="d-flex align-items-stretch col-sm-12 col-md-5">
                <div class="card my-3 p-3">
                    <p>“I particularly noticed Regan’s very professional response to my initial inquiry through Guru.com. She is wonderfully communicative, friendly and flexible to what we need at Insulite. Thanks, Regan!”</p>
                </div>
            </div>
            <div class="d-flex align-items-stretch col-sm-12 col-md-7">
                <div class="card my-3 p-3">
                    <p>“Regan is one of the hardest working individuals I’ve ever had the pleasure to work with. She is extremely detailed and can be relied on to see any task through to completion. Her dependability, creativity and commitment to excellence are all traits to be admired.”</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="d-flex align-items-stretch col-sm-12 col-md-6">
                <div class="card my-3 p-3">
                    <p>“Regan was a pleasure to work with at the Kansas City Star. She is incredibly eager and very easy to learn from, in turn, she’s very excited to share her knowledge with colleagues. I have no doubt that anywhere Regan works, she will do everything she can to learn the business and take it to the next level. Her level of creatively, expertise and maturity is pratically unmatched in the design industry.”</p>
                </div>
            </div>
            <div class="d-flex align-items-stretch col-sm-12 col-md-6">
                <div class="card my-3 p-3">
                    <p>“Regan was a pleasure to work with. [She] proved to be technically competent, as [she] programmed our Flash presentation perfectly. [She] was also very flexible and easy to work with. In addition, Regan finished the job very quickly. Furthermore, Regan was extremely helpful, providing new ideas and options, and explaining how certain functions worked. I will definitely use Regan again whenever the opportunity arises.”</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="d-flex align-items-stretch col-sm-12 col-md-5">
                <div class="card my-3 p-3">
                    <p>“Artistic talent and an ability to transform your concept into reality made the process very easy. I was completely impressed by the quality of the work and the professionalism exhibited.”</p>
                </div>
            </div>
            <div class="d-flex align-items-stretch col-sm-12 col-md-7">
                <div class="card my-3 p-3">
                    <p>“Regan has fantastic skills and her turnaround time is excellent. She was up till 12am helping us with our last minute project and it turned out great. Will definitely use her services again. Highly recommended!”</p>
                </div>
            </div>
        </div>
        <div class="row">
			<div class="d-flex align-items-stretch col-sm-12 col-md-7">
			    <div class="card my-3 p-3">
			        <p>“A friend and I started a property company and asked Regan to design our logo. We spent five to ten minutes discussing what we wanted and in only two meetings, we had exactly what we wanted. She was professional and prompt in her responses.”</p>
			    </div>
			</div>
            <div class="d-flex align-items-stretch col-sm-12 col-md-5">
                <div class="card my-3 p-3">
                    <p>“Regan, had a very difficult client (me). I wasn’t able to clearly explain what I wanted. [She] worked until [she] was able to get me exactly what I wanted. [She] took my vague directions and kept working.”</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="d-flex align-items-stretch col-sm-12 col-md-5">
                <div class="card my-3 p-3">
                    <p>“We have used Regan time and time again. [She is] very professional, excellent quality of work, great turn-around time - highly recommended!”</p>
                </div>
            </div>
            <div class="d-flex align-items-stretch col-sm-12 col-md-7">
                <div class="card my-3 p-3">
                    <p>“Absolutely great. Great quality, very very fast, very responsive to feedback/comments/criticism and turns around revisions very rapidly. Highly, highly recommended.”</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="d-flex align-items-stretch col-sm-12 col-md-6">
                <div class="card my-3 p-3">
                    <p>“Regan helped me make a custom Flash video player for my site, ConspiracyFactualists.com, and I cant recommend this [girl] enough. [She] is very helpful, courteous, professional and just overall great.”</p>
                </div>
            </div>
            <div class="d-flex align-items-stretch col-sm-12 col-md-6">
                <div class="card my-3 p-3">
                    <p>“Extremely professional. Very quick response to all questions. Completed project ahead of schedule. Very regardful of project requirements.”</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <div class="card my-3 p-3">
                    <p>“Regan and Boulder D and G are professional and timely. I enjoyed working with them.”</p>
                </div>
            </div>
            <div class="col-sm-12 col-md-12">
                <div class="card my-3 p-3">
                    <p>“Excellent skills and creativity and very fast…”</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <div class="card my-3 p-3">
                    <p>“Great job, speedy turnaround. Thanks!”</p>
                </div>
            </div>
            <div class="col-sm-12 col-md-12">
                <div class="card my-3 p-3">
                    <p>“Regan was very helpful and completed the project very quickly. Thank you!!!”</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <div class="card my-3 p-3">
                    <p>“All around awesome!!!”</p>
                </div>
            </div>
			<div class="col-sm-12 col-md-12">
			    <div class="card my-3 p-3">
			        <p>“A great [girl] to work with…VERY prompt.”</p>
			    </div>
			</div>
        </div>
        <div class="row">
			<div class="d-flex align-items-stretch col-sm-12 col-md-6">
			    <div class="card my-3 p-3">
			        <p>“She cranked out a one page brochure very quickly and professionally. She would have made 20 revisions if I would have asked.”</p>
			    </div>
			</div>
            <div class="d-flex align-items-stretch col-sm-12 col-md-6">
                <div class="card my-3 p-3">
                    <p>“Regan did a great job and was quick and efficient (in fact it seems like Regan works 24x7!!). Will definitely work with Regan again.”</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="d-flex align-items-stretch col-sm-12 col-md-6">
                <div class="card my-3 p-3">
                    <p>“Prompt… professional… courteous and excellent work. 5 stars are not praise enough for Regan’s work. Highly recommended.”</p>
                </div>
            </div>
            <div class="d-flex align-items-stretch col-sm-12 col-md-6">
                <div class="card my-3 p-3">
                    <p>“Very happy with the work Regan did for us and would definitely give her more projects and recommend her to others as well.”</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="d-flex align-items-stretch col-sm-12 col-md-5">
                <div class="card my-3 p-3">
                    <p>“Regan was quick, professional, and creative. We will use [her] again in a heart beat.”</p>
                </div>
            </div>
			<div class="d-flex align-items-stretch col-sm-12 col-md-7">
			    <div class="card my-3 p-3">
			        <p>“Very good all around. I was happy with what [she] did and the changes [she] performed at my request.”</p>
			    </div>
			</div>
        </div>
        <div class="row">
			<div class="col-sm-12 col-md-12">
			    <div class="card my-3 p-3">
			        <p>“Excellent communication and fast work. Thanks”</p>
			    </div>
			</div>
        </div>
    </div>
</section>
<!-- /build:content -->
<!-- build:more -->
I organize my server down to the underscore – then I dump all my personal photos in a Google+ slideshow at random. Perfect and messy all at once.
<!-- /build:more -->