<!-- build:pg -->projects-design-boiler<!-- /build:pg -->
<!-- build:title -->Unboxable.com || Projects => Design Boiler<!-- /build:title -->
<!-- build:content -->
<section class="unbox-slider flexslider condensed">
  <ul class="slides">
    <li style="background-image: url(/resources/image/hero_clouds.jpg);">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <div class="slides-text">
              <h1 class="h2">Design Boiler</h1>
              <p>A Boilerplate for Rapid Prototyping</p>
            </div>
          </div>
        </div>
      </div>
    </li>
  </ul>
</section>
<section class="unbox-section">
	<div class="container">
		<div class="row">
			<div class="col-md-9">
				<h2 class="hl-primary"><i class="material-icons">keyboard</i> Develop</h2>
				<h3>Long story short</h3>
				<p>I built the same basic components in two (soon three) different versions of frameworks. One source set of CSS rules applies to all of the different versions of HTML. Theoretically, these can be used as easily tweak-able examples while rapid prototyping, no matter which framework you choose for your project.</p>
				<h3>Cutting corners</h3>
				<p>I was talking with some co-workers and we were discussing - once again - everyone's preferences for front-end theming frameworks. It may seem to designer like starting with Bootstrap or Material is extremely unoriginal, but there a lot of benefits to doing so and I really think they're not embraced nearly enough.</p>
				<h4>A heard start, sure</h4>
				<p>First of all, as a person who's designed a web thing or two, I very much appreciate the design coverage. I appreciate being able to change as little or as much as I want to customize my design. But, let's say I don't get all the way down to the details of designing which error color appears on forms, there's already one there that will suffice and I'm covered. When prototyping, this is <em>essential</em>.</p>
				<h4>Consistency</h4>
				<p>While it may be a little more difficult to jump in and out of frameworks and keep them all straight, choosing a framework and going with it for an entire project makes it 100% easier for developers to jump in and code without too much ramp-up time. Everyone knows what the code does just by looking at it and they spend a lot less time digging into documentation because they're already familiar with the capabilities and structure.</p>
			</div>
			<div class="col-md-3">
				<div class="panel-group unbox-panel" id="accordion" role="tablist" aria-multiselectable="true">
					<div class="panel panel-default">
						<div class="panel-heading" role="tab" id="headingOne">
							<h4 class="panel-title">
								<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Technical <i class="material-icons active">remove</i><i class="material-icons inactive">add</i></a>
							</h4>
						</div>
						<div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
							<div class="panel-body">
								<ul>
									<li>HTML</li>
									<li>SCSS</li>
									<li>Adobe Dreamweaver HTML Templates</li>
									<li><a href="http://design-boiler.ux.artisantechgroup.io/" target="_blank" rel="nofollow">Sample Site</a></li>
									<li><a href="https://bitbucket.org/14rego/design-system-boiler" target="_blank" rel="nofollow">Git</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
  
  
<section class="unbox-section">
<div class="container">
	<div class="unbox-cta unbox-animate border-bottom-none">
		<div class="row">
			<div class="col-9">
				<h3 class="h2 mb20">Questions or comments?</h3>
				<p>Feel free to reach out! I appreciate constructive feedback and enjoy digging into the details with anyone who&rsquo;ll join me for a discussion.</p>
			</div>
			<div class="col-3">
				<p class="text-right"><br/><a href="/contact" role="button" class="btn btn-primary">Hit Me Up</a></p>
			</div>
		</div>
	</div>
</div>
<div class="clearfix visible-sm-block"></div>
</section>
<!-- /build:content -->
<!-- build:more -->
I've moved more times than you can imagine and I've lost count. I attended about 15 different schools over the years. And I <em>still</em> love to travel. I dream of someday living in the Pacific Northwest.
<!-- /build:more -->