<!-- build:pg -->projects-unboxapi<!-- /build:pg -->
<!-- build:title -->Unboxable.com || Projects => Unboxapi<!-- /build:title -->
<!-- build:content -->
<section class="unbox-slider flexslider condensed">
  <ul class="slides">
    <li style="background-image: url(/resources/image/hero_clouds.jpg);">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <div class="slides-text">
              <h1 class="h2">Unboxapi</h1>
              <p>A "Quick-and-Dirty" PHP API</p>
            </div>
          </div>
        </div>
      </div>
    </li>
  </ul>
</section>
<section class="unbox-section">
	<div class="container">
		<div class="row">
			<div class="col-md-9">
				<h2 class="hl-primary"><i class="material-icons">keyboard</i> Develop</h2>
				<h3>Blog API</h3>
				<p>This API is in progress, but - for now - it feeds my blog post archive from a mySQL database to this website. It has no frills or extra features, just displays the posts. I'm planning to add blog "likes" and comments back as well as an administration center. I'll get there, just slowly is all. Consider it the least I could do.</p>
				<h3>RSS Feed</h3>
				<p>Along with the API, it feeds the archive into an <a href="/blog/feed" target="_blank">RSS feed</a>. Again, nothing fancy. Just a feed of text-based posts.</p>
			</div>
			<div class="col-md-3">
				<div class="panel-group unbox-panel" id="accordion" role="tablist" aria-multiselectable="true">
					<div class="panel panel-default">
						<div class="panel-heading" role="tab" id="headingOne">
							<h4 class="panel-title">
								<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Technical <i class="material-icons active">remove</i><i class="material-icons inactive">add</i></a>
							</h4>
						</div>
						<div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
							<div class="panel-body">
								<ul>
									<li>Apache</li>
									<li>PHP</li>
									<li>XML</li>
									<li><a href="https://bitbucket.org/14rego/unboxapi" target="_blank" rel="nofollow">Git</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
  
  
<section class="unbox-section">
<div class="container">
	<div class="unbox-cta unbox-animate border-bottom-none">
		<div class="row">
			<div class="col-9">
				<h3 class="h2 mb20">Questions or comments?</h3>
				<p>Feel free to reach out! I appreciate constructive feedback and enjoy digging into the details with anyone who&rsquo;ll join me for a discussion.</p>
			</div>
			<div class="col-3">
				<p class="text-right"><br/><a href="/contact" role="button" class="btn btn-primary">Hit Me Up</a></p>
			</div>
		</div>
	</div>
</div>
<div class="clearfix visible-sm-block"></div>
</section>
<!-- /build:content -->
<!-- build:more -->
I've moved more times than you can imagine and I've lost count. I attended about 15 different schools over the years. And I <em>still</em> love to travel. I dream of someday living in the Pacific Northwest.
<!-- /build:more -->