<!-- build:pg -->projects-unboxable<!-- /build:pg -->
<!-- build:title -->Unboxable.com || Projects => Unboxable<!-- /build:title -->
<!-- build:content -->
<section class="unbox-slider flexslider condensed">
  <ul class="slides">
    <li style="background-image: url(/resources/image/hero_clouds.jpg);">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <div class="slides-text">
              <h1 class="h2">Unboxable</h1>
              <p>Yes, this very web site!</p>
            </div>
          </div>
        </div>
      </div>
    </li>
  </ul>
</section>
<section class="unbox-section">
	<div class="container">
		<div class="row">
			<div class="col-md-9">
				<h2 class="hl-primary"><i class="material-icons">keyboard</i> Develop</h2>
				<h3>Cutting Edge</h3>
				<p>I can tell you're as excited to hear about all the underlying technology as I am to tell you about it. But there's nothing exceptional about this web site, I'll admit. It's HTML, CSS, and a tiny bit<sup>*</sup> of javascript. And that's the beauty of it to me. What else does it need? Not a thing.</p>
				<p>While the final product is just a few HTML files, the build process is a bit more robust than you might expect. While developing locally, I rely on Node to serve my files. I also employ Gulp to do things like compile my CSS from SCSS files, lint, concatenate, and minify my JS, and piece together HTML files I build in a very MVC-sort-of style with global page templates and view partials.</p>
				<p>Once the build and compilation is complete, I just serve my HTML files statically on a linux server with Apache mod-rewrite rules for pretty URLs.</p>
				<p>The blog does, however, rely on an API I created. No way I'm drawing up all 50 of the blog posts in my archive manually. Check out the Unboxapi project <a href="/projects/unboxapi">here</a>.</p>
				<p>Of course, I have plans to rewrite this site in React immediately after "finishing" it.</p>
				<p class="small">*Let's be honest, even a "tiny bit" is probably overkill in terms of user experience. Do things really need to zoom around and have cool effects? Not really.</p>
				<hr/>
				<h2 class="hl-primary"><i class="material-icons">create</i> Create</h2>
				<h3>Ain't It Pretty</h3>
				<p>Again, there's nothing particularly exceptional here. I really needed to spend more time developing than designing this site because a redesign was well overdue. Every project has it's priorities and the design for this simply wasn't it. So, I found an open-source design template called "Black" by UICookies and modified it until it was exactly what I needed.</p>
			</div>
			<div class="col-md-3">
				<div class="panel-group unbox-panel" id="accordion" role="tablist" aria-multiselectable="true">
					<div class="panel panel-default">
						<div class="panel-heading" role="tab" id="headingOne">
							<h4 class="panel-title">
								<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Technical <i class="material-icons active">remove</i><i class="material-icons inactive">add</i></a>
							</h4>
						</div>
						<div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
							<div class="panel-body">
								<ul>
									<li>Node/Apache</li>
									<li>Express</li>
									<li>Gulp</li>
									<li><a href="https://bitbucket.org/14rego/unboxanodeblog" target="_blank" rel="nofollow">Git</a></li>
									<li><a href="/projects/unboxapi">PHP API</a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading" role="tab" id="headingTwo">
							<h4 class="panel-title">
								<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">User Interface <i class="material-icons active">remove</i><i class="material-icons inactive">add</i></a>
							</h4>
						</div>
						<div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
							<div class="panel-body">
								<ul>
									<li>SCSS</li>
									<li>Material Icons</li>
									<li>Bootstrap 4</li>
									<li>jQuery 1.12</li>
									<li>UICookies Black</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
  
  
<section class="unbox-section">
<div class="container">
	<div class="unbox-cta unbox-animate border-bottom-none">
		<div class="row">
			<div class="col-9">
				<h3 class="h2 mb20">Questions or comments?</h3>
				<p>Feel free to reach out! I appreciate constructive feedback and enjoy digging into the details with anyone who&rsquo;ll join me for a discussion.</p>
			</div>
			<div class="col-3">
				<p class="text-right"><br/><a href="/contact" role="button" class="btn btn-primary">Hit Me Up</a></p>
			</div>
		</div>
	</div>
</div>
<div class="clearfix visible-sm-block"></div>
</section>
<!-- /build:content -->
<!-- build:more -->
I've moved more times than you can imagine and I've lost count. I attended about 15 different schools over the years. And I <em>still</em> love to travel. I dream of someday living in the Pacific Northwest.
<!-- /build:more -->