<!-- build:pg -->projects-ux-method-flow<!-- /build:pg -->
<!-- build:title -->Unboxable.com || Projects => UX Method Flow<!-- /build:title -->
<!-- build:content -->
<section class="unbox-slider flexslider condensed">
  <ul class="slides">
    <li style="background-image: url(/resources/image/hero_clouds.jpg);">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <div class="slides-text">
              <h1 class="h2">UX Method Flow</h1>
              <p>When you're not sure what's next for your product.</p>
            </div>
          </div>
        </div>
      </div>
    </li>
  </ul>
</section>
<section class="unbox-section">
	<div class="container">
		<div class="row">
			<div class="col-md-9">
				<div class="row">
					<div class="col-12">
						<p>Oct. 1: Of course, this project is also in progress and incomplete. Here's my dream when it's done and feel free to check the <a href="https://bitbucket.org/14rego/ux-method-flow" target="_blank" rel="nofollow">Git repo</a> for status updates.</p>
						<h2 class="hl-primary">The Big Idea</h2>
						<p>There are so many user experience methods, it can be hard to keep track of them all. I've compiled data for 50 methods in different research and design categories and presented them in searchable/sortable format. As soon as the questions are set up, you would answer 1-7 questions about where you are in your product or service's journey and it will suggest several of the methods appropriate for your stage in the process. Along with the suggestions are: statistics about each method, procedural tips, further reading resource links, and downloadable PDF worksheets and templates.</p>
						<h2 class="hl-primary"><i class="material-icons">keyboard</i> Develop</h2>
						<h3>Basic React</h3>
						<p>The build uses Node, React, and Babel for six components (more soon as the question flow builds). So far, there's no need for a state management system like Redux. It's just not that complicated.</p>
						<p>I really like the thought of hosting static HTML instead of a dedicated Node server, so my next step may be incorporating Gatsby as soon as it's complete.</p>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-6">
						<h2 class="hl-primary"><i class="material-icons">create</i> Create</h2>
						<h3>Every Resource Provided</h3>
						<p>This is meant to be a full user experience kit with everything you need to guide you through the entire product-building process. I have an additional 38 pages (PDF) of worksheets and templates I designed in Adobe XD.</p>
					</div>
					<div class="col-sm-6">
						<h2 class="hl-primary"><i class="material-icons">zoom_in</i> Analyze</h2>
						<h3>Every Method</h3>
						<p>Along with every method, I've included: a simplicity rating, effectiveness rating, keywords, process stages, key participants, tips, resources, and step-by-step instructions to guide you through each exercise.</p>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="panel-group unbox-panel" id="accordion" role="tablist" aria-multiselectable="true">
					<div class="panel panel-default">
						<div class="panel-heading" role="tab" id="headingOne">
							<h4 class="panel-title">
								<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Technical <i class="material-icons active">remove</i><i class="material-icons inactive">add</i></a>
							</h4>
						</div>
						<div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
							<div class="panel-body">
								<ul>
									<li>Node.js</li>
									<li>React</li>
									<li>JSON data</li>
									<li>Babel</li>
									<li>Bootstrap 4</li>
									<li><a href="https://bitbucket.org/14rego/ux-method-flow" target="_blank" rel="nofollow">Git</a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading" role="tab" id="headingTwo">
							<h4 class="panel-title">
								<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">Design <i class="material-icons active">remove</i><i class="material-icons inactive">add</i></a>
							</h4>
						</div>
						<div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
							<div class="panel-body">
								<ul>
									<li>Adobe XD</li>
									<li>Font Awesome</li>
									<li><a href="https://artisantechgroup.com" target="_blank" rel="nofollow">Artisan Tech Group</a> branding package</li>
									<li><a href="#TBD" target="_blank" rel="nofollow">XD Interactive Prototype</a> (coming soon)</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
  
  
<section class="unbox-section">
<div class="container">
	<div class="unbox-cta unbox-animate border-bottom-none">
		<div class="row">
			<div class="col-9">
				<h3 class="h2 mb20">Questions or comments?</h3>
				<p>Feel free to reach out! I appreciate constructive feedback and enjoy digging into the details with anyone who&rsquo;ll join me for a discussion.</p>
			</div>
			<div class="col-3">
				<p class="text-right"><br/><a href="/contact" role="button" class="btn btn-primary">Hit Me Up</a></p>
			</div>
		</div>
	</div>
</div>
<div class="clearfix visible-sm-block"></div>
</section>
<!-- /build:content -->
<!-- build:more -->
I've moved more times than you can imagine and I've lost count. I attended about 15 different schools over the years. And I <em>still</em> love to travel. I dream of someday living in the Pacific Northwest.
<!-- /build:more -->