<!-- build:pg -->blog<!-- /build:pg -->
<!-- build:title -->Unboxable.com || Blog<!-- /build:title -->
<!-- build:content -->
<section class="unbox-slider flexslider">
  <ul class="slides">
    <li style="background-image: url(/resources/image/hero_space.jpg);">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <div class="slides-text unbox-animate">
              <h1 class="h2">Unboxablog</h1>
            </div>
          </div>
        </div>
      </div>
    </li>
  </ul>
</section>
<section class="unbox-section">
	<div class="container">
		<div class="row blog-fill">
			<div class="col-md-6 unbox-animate fadeInUp unbox-animated blog-template">
				<div class="unbox-card">
					<div class="unbox-card-text">
						<h2 class="unbox-card-heading mb0"><a href="[url]">[title]<i class="material-icons">chevron_right</i></a></h2>
						<p>[intro]</p>
						<p><span class="small">[date]</span> <span class="tags">[tags]</span>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="unbox-section">
<div class="container">
	<div class="unbox-cta unbox-animate border-bottom-none">
		<h3 class="h2 mb20">You read them all already?</h3>
		<p>I try to keep up with blogging, but I&rsquo;ve traditionally gone long periods without posting anything. If you have any topics you think I should cover, let me know.</p>
		<p><a href="/contact" role="button" class="btn btn-primary">Suggestion Box</a></p>
	</div>
</div>
<div class="clearfix visible-sm-block"></div>
</section>
<!-- /build:content -->
<!-- build:more -->
The ability to impress you, go beyond your expectations, break a stereotype of any kind, beat the odds, achieve the “impossible”, or otherwise present you with the opposite result as what you expected is fun to me.
<!-- /build:more -->
<!-- build:foot -->
<script type="text/javascript" src="/resources/script/min/unboxanodeblog.blog.tag.min.js"></script>
<!-- /build:foot -->