<!-- build:pg -->blog<!-- /build:pg -->
<!-- build:title -->Unboxable.com || Blog<!-- /build:title -->
<!-- build:content -->
<section class="unbox-slider flexslider">
  <ul class="slides">
    <li style="background-image: url(/resources/image/hero_space.jpg);">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <div class="slides-text unbox-animate">
              <h2>Unboxablog</h2>
              <p class="h3 mb0 text-uppercase">A clever bike</p>
              <p class="small">Jan 1, 2018</p>
            </div>
          </div>
        </div>
      </div>
    </li>
  </ul>
</section>
<section class="unbox-section">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<p>
					<a href="#tbd" class="badge badge-pill badge-secondary"> tag</a>
				</p>
			</div>
		</div>
	</div>
</section>
<section class="unbox-section">
<div class="container">
	<div class="unbox-cta unbox-animate border-bottom-none">
		<h2 class="mb20">Questions or comments?</h2>
		<p>In the history of my blog, no one has ever left a legitimate comment on my blog (that wasn&rsquo;t spam). Please <a href="http://twitter.com/Geeky_Regan" target="_blank" rel="nofollow">@ me in a tweet</a> or <a href="mailto:regan.leah@gmail.com">shoot me an email</a> if you&rsquo;d like to discuss. For now, a comment string is on my to-do&nbsp;list.</p>
		<p><a href="/contact" role="button" class="btn btn-primary">Let&rsquo;s Discuss</a></p>
	</div>
</div>
<div class="clearfix visible-sm-block"></div>
</section>
<!-- /build:content -->
<!-- build:more -->
The ability to impress you, go beyond your expectations, break a stereotype of any kind, beat the odds, achieve the “impossible”, or otherwise present you with the opposite result as what you expected is fun to me.
<!-- /build:more -->