---
layout: public.njk
title: 404 Not Found
more: 'The notorious 404 error is often, not totally erroneously, referred to as “the last page of the internet”.'
---
<section class="!bg-cover w-full flex flex-col !py-[15dvh]" style="background: url('/assets/image/hero_space.jpg') no-repeat center center">
    <div class="mx-auto p-5 bg-teal-900/50 md:rounded-lg">
        <h1 class="text-xl font-bold text-orange-400 text-center">Ope.</h1>
        <h2 class="text-white text-center">We couldn’t find what you were looking for.<br><a href="/" class="text-orange-400 hover:text-orange-100 hover:underline">Try again?</a></h2>
    </div>
</section>