---
layout: public.njk
title: Contact Me
more: 'Although I’m not traditionally religious, I have a tattoo that reminds me of the Lord’s prayer. Serenity, courage, and wisdom. It gets me through every&nbsp;day.'
---
<section class="!bg-cover w-full flex md:p-5 !pt-[2.5rem]" style="background: url('/assets/image/hero_macbook.jpg') no-repeat center center">
    <div class="mx-auto p-5 md:my-4 md:bg-teal-900/50 md:rounded-lg">
        <h1 class="text-xl font-bold text-orange-400 text-center">Pin Me Down</h1>
        <h2 class="text-white text-center">A virtual tap upon the shoulder&hellip;</h2>
    </div>
</section>
<section class="max-w-2xl mx-auto p-5">
    <ul class="text-white">
        <li class="p-2 text-center">
            <span class="block whitespace-nowrap text-teal-200">regan&period;bourland<i class="fas fa-at"></i><i class="fas fa-g"></i>mail&period;com</span>
            <span class="text-white my-4 text-sm">I&rsquo;ve mostly dropped social media. I&rsquo;d be glad to give you my phone number if you ask for it. An email will get the quickest&nbsp;reply.</span>
        </li>
        <li class="p-2 text-center">
            <a class="block text-orange-200 hover:text-teal-200 hover:underline" href="https://github.com/14rego/" target="_blank" rel="nofollow">
                <i class="fab fa-github"></i>
                <span>GitHub</span>
            </a>
            <span class="text-white my-4 text-sm">I used BitBucket for many years before GitHub had free private repos, so most of my git history is there and archived. I moved everything worth&nbsp;saving.</span>
        </li>
        <li class="p-2 text-center">
            <a class="block text-orange-200 hover:text-teal-200 hover:underline" href="https://profile.indeed.com/p/reganb-45cn5z9" target="_blank" rel="nofollow">
                <i class="fas fa-id-badge"></i>
                <span>Indeed</span>
            </a>
            <span class="text-white my-4 text-sm">My Indeed profile is relatively new, but I prefer it to the&nbsp;others.</span>
        </li>
        <li class="p-2 text-center">
            <a class="block text-orange-200 hover:text-teal-200 hover:underline" href="http://www.linkedin.com/in/rbld" target="_blank" rel="nofollow">
                <i class="fab fa-linkedin"></i>
                <span>LinkedIn</span>
            </a>
            <span class="text-white my-4 text-sm">I&rsquo;ve kept my profile up to date on LinkedIn,&nbsp;though.</span>
        </li>
        <li class="mt-3 text-center text-teal-200">
            <em>Thanks for your&nbsp;time</em>.
        </li>
    </ul>
</section>