---
layout: public.njk
title: Home
more: 'I believe you should never say things you don&rsquo;t mean and you should always treat others as you wish to be treated.<br/>Cliché? Sure. Still important? Absolutely.'
---
<section class="!bg-cover w-full flex md:p-5 !pt-[2.5rem]" style="background: url('/assets/image/hero_macbook.jpg') no-repeat center center">
    <div class="mx-auto p-5 md:my-4 md:bg-teal-900/50 md:rounded-lg">
        <h1 class="text-xl font-bold text-orange-400 text-center">Oh,&nbsp;hello. Welcome. I&rsquo;m&nbsp;Regan.</h1>
        <h2 class="text-white text-center">I&rsquo;m looking for a brand&nbsp;new <span class="whitespace-nowrap">full-time job</span>.</h2>
    </div>
</section>
<section class="max-w-2xl mx-auto p-5 md:my-3">
    <p class="text-orange-100 bg-teal-900 border-l-3 border-orange-500 py-2 pr-2 pl-3"><strong>TLDR:</strong> My family and I are moving to Denver in Spring&nbsp;2026. Once we move, I can no longer work at my current position. I&rsquo;m working on this site and my portfolio in order for y&rsquo;all to get to know me a&nbsp;little. Thanks for stopping&nbsp;by.</p>
    <p class="text-white my-3">I&rsquo;ve been developing web sites and web things since 1996. Web development is a tiny bit more complicated these days, but I&rsquo;m enjoying keeping&nbsp;up. I&rsquo;m a full-stack developer with a passion for gorgeous user interfaces, amazing user experiences and flawless accessibility.</p>
    <p class="text-white my-3">Since I was young, I&rsquo;ve loved to create. It doesn&rsquo;t matter what I create&thinsp;&mdash;&thinsp;building, drawing, planning, solving, researching, organizing, analyzing, strategizing, and generally putting together the pieces&thinsp;&mdash;&thinsp;it&rsquo;s sort of what makes me&nbsp;tick. I love to focus on documentation, modularization and efficiency of both designs and technical solutions.</p>
    <p class="text-white my-3">I also have a BA and many, many hours of continuing education. Read more about why you should definitely hire me in <a href="https://14rego.github.io/job-search/regan-bourland" target="_blank" rel="nofollow" title="Resumé" class="text-orange-200 hover:text-orange-300 hover:underline">my&nbsp;Resumé</a>, by checking out my <a href="https://github.com/14rego" target="_blank" rel="nofollow" title="GitHub" class="text-orange-200 hover:text-orange-300 hover:underline">GitHub</a>, or reading about my passion <a href="{% link_to 'projects' %}" class="text-orange-200 hover:text-orange-300 hover:underline">projects</a>.</p>
</section>
<aside class="bg-teal-800 w-full">
    <div class="max-w-2xl mx-auto pt-3 pb-4 px-5 text-center">
        <h3 class="font-bold text-teal-100">Want to discuss?</h3>
        <p class="text-white text-sm">I can get pretty chatty about things I&rsquo;m really interested in.<br>Let&rsquo;s have a&nbsp;chat.</p>
        <p class="mt-2"><a href="{% link_to 'contact' %}" class="border-2 border-teal-100 bg-teal-100 hover:bg-teal-400 hover:border-teal-100 rounded-md px-2 py-1 text-sm text-teal-800">C&rsquo;mon, say &ldquo;Hello!&rdquo;</a></p>
    </div>
</aside>
