---
layout: public.njk
title: Projects => Design Boiler
more: 'Ever since kindergarten, I’ve loved ramen. I was in my 30s when I first got to have real ramen at a restaurant, but I also still love the simple 10&cent; instant&nbsp;ramen.'
---
<section class="!bg-cover w-full flex md:p-2 !pt-[2.75rem]" style="background: url('/assets/image/hero_clouds.jpg') no-repeat center center">
    <div class="mx-auto p-5 md:my-4 md:bg-teal-900/50 md:rounded-lg">
        <h1 class="text-xl font-bold text-orange-400 text-center">Design Boiler</h1>
        <p class="text-white text-center text-sm">A Boilerplate for Rapid Prototyping</p>
    </div>
</section>
<div class="max-w-2xl mx-auto p-5 md:my-1">
    <div class="mb-5 grid grid-cols-4 gap-4">
        <section class="col-span-4 md:col-span-3">
            <h2 class="text-lg font-bold text-orange-400 mb-2"><span class="bg-orange-600 text-white rounded-full p-1"><i class="fas fa-bolt-lightning" aria-hidden="true"></i></span> The Big Idea</h2>
            <p class="text-white">I built the same basic components in two (planned for three) different versions of frameworks. One source set of styles applies to all of the different versions of HTML. Theoretically, these can be used as easily tweak-able examples while rapid prototyping, no matter which framework you choose for your project.</p>
        </section>
        <aside class="col-span-4 md:col-span-1">
            <h3 class="text-orange-400 mb-2">Stack:</h3>
            <ul class="text-white text-sm list-disc ml-5 grid grid-cols-2 md:grid-cols-1">
                <li>HTML 5</li>
                <li>SCSS</li>
                <li>Dreamweaver templates</li>
                <li><a href="http://design-boiler.ux.artisantechgroup.io/" target="_blank" rel="nofollow" class="text-orange-200 hover:underline hover:text-orange-400">Sample Site</a></li>
                <li><a href="https://github.com/14rego/design-system-boiler" target="_blank" rel="nofollow" class="text-orange-200 hover:underline hover:text-orange-400">Git Repo</a></li>
            </ul>
        </aside>
    </div>
    <section>
        <div class="my-4">
            <h3 class="text-orange-400 mb-2"><span class="bg-orange-600 text-white rounded-full p-1"><i class="fas fa-code" aria-hidden="true"></i></span> Development</h3>
            <p class="text-lg text-teal-200">A Head Start</p>
            <p class="text-white mb-2 text-sm">While it may be a little more difficult to jump in and out of frameworks and keep them all straight, choosing a framework and going with it for an entire project makes it 100% easier for developers to jump in and code without too much ramp-up time.</p>
        </div>
        <div class="my-4">
            <h3 class="text-orange-400 mb-2"><span class="bg-orange-600 text-white rounded-full p-1"><i class="fas fa-pen-ruler" aria-hidden="true"></i></span> Creativity</h3>
            <p class="text-lg text-teal-200">Cutting Corners</p>
            <p class="text-white mb-2 text-sm">As a person who&rsquo;s designed a web thing or two, I very much appreciate the design coverage. I appreciate being able to change as little or as much as I want to customize my design. When prototyping, this is <em>essential</em>.</p>
        </div>
    </section>
</div>
<aside class="bg-teal-800 w-full">
    <div class="max-w-2xl mx-auto pt-3 pb-4 px-5 text-center">
        <h3 class="font-bold text-teal-100">Questions or comments?</h3>
        <p class="text-white text-sm">Feel free to reach out! I appreciate constructive feedback and enjoy getting into&nbsp;the&nbsp;weeds.</p>
        <p class="mt-2"><a href="{% link_to 'contact' %}" class="border-2 border-teal-100 bg-teal-100 hover:bg-teal-400 hover:border-teal-100 rounded-md px-2 py-1 text-sm text-teal-800">Hit Me Up</a></p>
    </div>
</aside>