---
layout: public.njk
title: Projects => Simbizilla
more: 'I never had conventional pets growing up, but I’ve had at least one dog in my home for 25 years straight. Up to five at a time although we currently have just one.'
---
<section class="!bg-cover w-full flex md:p-2 !pt-[2.75rem]" style="background: url('/assets/image/hero_clouds.jpg') no-repeat center center">
    <div class="mx-auto p-5 md:my-4 md:bg-teal-900/50 md:rounded-lg">
        <h1 class="text-xl font-bold text-orange-400 text-center">Simbizilla</h1>
        <p class="text-white text-center text-sm">A game for those who love to balance a checkbook.</p>
    </div>
</section>
<div class="max-w-2xl mx-auto p-5 md:my-1">
    <div class="mb-5 grid grid-cols-4 gap-4">
        <section class="col-span-4 md:col-span-3">
            <h2 class="text-lg font-bold text-orange-400 mb-2"><span class="bg-orange-600 text-white rounded-full p-1"><i class="fas fa-bolt-lightning" aria-hidden="true"></i></span> The Big Idea</h2>
            <p class="text-white mb-2">My cousin and I always loved making up games growing up. We gravitate toward a particular type of game in which you strategize growing a small business into a conglomerate. It may be fancy graphics-free, but it&rsquo;s also ad-free and there&rsquo;s no waiting required unlike today&rsquo;s mobile games where you have to check back every 45&nbsp;minutes to make any real progress.</p>
            <p class="text-white">I wish I had more time to work on it, but it&rsquo;s coming along slowly. To be real honest, I just wanted to build this again because it&rsquo;s nice to have a clean slate. Every time I build it, it gets better and better. And it&rsquo;s great practice so I don&rsquo;t get rusty.</p>
        </section>
        <aside class="col-span-4 md:col-span-1">
            <h3 class="text-orange-400 mb-2">Stack:</h3>
            <ul class="text-white text-sm list-disc ml-5 grid grid-cols-2 md:grid-cols-1">
                <li>Node</li>
                <li>React</li>
                <li>Typescript</li>
                <li>Tailwind</li>
                <li>Redux</li>
                <li>Mongo</li>
                <li>Express</li>
                <li><a href="https://github.com/14rego/simbizilla" target="_blank" rel="nofollow" class="text-orange-200 hover:underline hover:text-orange-400">Git Repo</a></li>
            </ul>
        </aside>
    </div>
    <section class="md:my-4 md:grid grid-cols-2 gap-4">
        <div class="my-4 md:m-0 col-span-2">
            <h3 class="text-orange-400 mb-2"><span class="bg-orange-600 text-white rounded-full p-1"><i class="fas fa-code" aria-hidden="true"></i></span> Development</h3>
            <p class="text-lg text-teal-200">MERN</p>
            <p class="text-white mb-2 text-sm">I&rsquo;ve built and re-built this game so many times over the years using different stacks. I had to look up the last one. In 2016, it was an Ionic app. This time it&rsquo;s a MERN app; the back end is a Mongo and Express API The front end is React with Redux&thinsp;&mdash;&thinsp;just for the practice (not because it needs it).</p>
        </div>
        <div class="my-4 md:m-0">
            <h3 class="text-orange-400 mb-2"><span class="bg-orange-600 text-white rounded-full p-1"><i class="fas fa-pen-ruler" aria-hidden="true"></i></span> Creativity</h3>
            <p class="text-lg text-teal-200">Bare Bones</p>
            <p class="text-white mb-2 text-sm">I&rsquo;ll be real honest: there&rsquo;s not much conventional creativity put into this. But there is a lot of character building and object modeling. So there&rsquo;s that&hellip;</p>
        </div>
        <div class="my-4 md:m-0">
            <h3 class="text-orange-400 mb-2"><span class="bg-orange-600 text-white rounded-full p-1"><i class="fas fa-magnifying-glass-chart" aria-hidden="true"></i></span> Strategy</h3>
            <p class="text-lg text-teal-200">Too Much?</p>
            <p class="text-white mb-2 text-sm">Beyond the playing of the game, every bit of planning I possess has been put into how the game should work and how enjoyable it should be to play it.</p>
        </div>
    </section>
</div>
<aside class="bg-teal-800 w-full">
    <div class="max-w-2xl mx-auto pt-3 pb-4 px-5 text-center">
        <h3 class="font-bold text-teal-100">Questions or comments?</h3>
        <p class="text-white text-sm">Feel free to reach out! I appreciate constructive feedback and enjoy getting into&nbsp;the&nbsp;weeds.</p>
        <p class="mt-2"><a href="{% link_to 'contact' %}" class="border-2 border-teal-100 bg-teal-100 hover:bg-teal-400 hover:border-teal-100 rounded-md px-2 py-1 text-sm text-teal-800">Hit Me Up</a></p>
    </div>
</aside>